:host {
  #tooltip {
    position: absolute;
    z-index: 100;
    pointer-events: none;
    color: #999;
    display: block;
    opacity: 1;

    &.hidden{
      display: none;
      opacity: 0;
    }
    .dot {
      width: 5px;
      height: 5px;
      background: white;
      border-radius: 2.5px;
      position: absolute;
    }
    .line {
      position: absolute;
      height: 0;
      width: 30px;
      transform: rotate(45deg);
      border-top: 3px solid #333;
      transform-origin: left center;
      z-index: -1;
      margin-top: -1.5px;
    }
    .bubble {
      background: #333;
      color: white;
      padding: 6px;
      margin: 15px;
      box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
      .small {
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0;
      }
      .quiet {
        color: #7f7f7f;
        color: rgba(255,255,255,.5);
      }
    }

  }
}
